In [7]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
df1 = DataFrame({'key':['x','y','z'],'data_set_1':[1,2,3]})

In [3]:
df1

   data_set_1 key
0           1   x
1           2   y
2           3   z

In [9]:
df2 = DataFrame({'key':['x','b','c'],'data_set_2':[4,5,6]})

In [10]:
df2

   data_set_2 key
0           4   x
1           5   b
2           6   c

In [11]:
pd.merge(df1,df2) #same column name (key), same value (x) , then it works

   data_set_1 key  data_set_2
0           1   x           4

In [12]:
df1 = DataFrame({'key':['x','y','z','x'],'data_set_1':[1,2,3,4]})
df2 = DataFrame({'key':['x','b','c'],'data_set_2':[4,5,6]})

In [13]:
pd.merge(df1,df2)

   data_set_1 key  data_set_2
0           1   x           4
1           4   x           4

In [14]:
pd.merge(df1,df2)

   data_set_1 key  data_set_2
0           1   x           4
1           4   x           4

In [15]:
pd.merge(df1,df2, on = 'data_set_1') # data_set_1 not in df2

KeyError: 'data_set_1'

In [16]:
pd.merge(df1,df2, on = 'key', how = 'inner')  # inner = mutual name(key)

   data_set_1 key  data_set_2
0           1   x           4
1           4   x           4

In [18]:
pd.merge(df1,df2, on = 'key', how = 'left')  # left = df1

   data_set_1 key  data_set_2
0         1.0   x           4
1         4.0   x           4
2         NaN   b           5
3         NaN   c           6

In [19]:
pd.merge(df1,df2, on = 'key', how = 'right')  #right = df2

   data_set_1 key  data_set_2
0         1.0   x           4
1         4.0   x           4
2         NaN   b           5
3         NaN   c           6

In [20]:
pd.merge(df1,df2, on = 'key', how = 'outer')   # union

   data_set_1 key  data_set_2
0         1.0   x         4.0
1         4.0   x         4.0
2         2.0   y         NaN
3         3.0   z         NaN
4         NaN   b         5.0
5         NaN   c         6.0