In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [49]:
s1 = Series(np.random.randn(6),index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [5]:
s1

1  a    1.263757
   b   -0.643673
   c   -0.412336
2  a   -1.834748
   b   -1.011535
   c    1.144474
dtype: float64

In [6]:
s1[1]

a    1.263757
b   -0.643673
c   -0.412336
dtype: float64

In [7]:
type(s1[1])

pandas.core.series.Series

In [8]:
s1[1]['b']

-0.64367293722777474

In [18]:
s1[:,'a']

1    1.263757
2   -1.834748
dtype: float64

In [19]:
s1[2,'a']

-1.8347480912922456

In [20]:
df1 = s1.unstack()

In [21]:
df1

          a         b         c
1  1.263757 -0.643673 -0.412336
2 -1.834748 -1.011535  1.144474

In [22]:
df2 = DataFrame([s1[1],s1[2]])

In [23]:
df2

          a         b         c
0  1.263757 -0.643673 -0.412336
1 -1.834748 -1.011535  1.144474

In [24]:
s2 = df1.unstack()

In [25]:
s2

a  1    1.263757
   2   -1.834748
b  1   -0.643673
   2   -1.011535
c  1   -0.412336
   2    1.144474
dtype: float64

In [30]:
s2 = df1.T.unstack()

In [31]:
s2

1  a    1.263757
   b   -0.643673
   c   -0.412336
2  a   -1.834748
   b   -1.011535
   c    1.144474
dtype: float64

In [34]:
df= DataFrame(np.arange(16).reshape(4,4))

In [35]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [36]:
df= DataFrame(np.arange(16).reshape(4,4),index = [['a','a','b','b'],[1,2,1,2]])

In [37]:
df

      0   1   2   3
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [38]:
df= DataFrame(np.arange(16).reshape(4,4),index = [['a','a','b','b'],[1,2,1,2]],columns = [['BJ','BJ','SH','GZ'],[8,9,8,9]])

In [39]:
df

     BJ      SH  GZ
      8   9   8   9
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [55]:
df['BJ'][8]['a'][2]

4

In [45]:
df['BJ'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int64