In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df1 = DataFrame({"City": ["BJ","SH","GZ"], "Population":[1000,2000,1500]})  # create dataframe using python dict

In [3]:
df1

  City  Population
0   BJ        1000
1   SH        2000
2   GZ        1500

In [9]:
df1['GPD'] = Series([1000,2000,1500])  #add a series to  dataframe, index matters

In [10]:
df1

  City  Population   GPD
0   BJ        1000  1000
1   SH        2000  2000
2   GZ        1500  1500

In [4]:
gdp_map = {'BJ':1000, 'SH':2000 , 'GZ':1000}  #python dict

In [5]:
df1['GPD'] = df1['City'].map(gdp_map)  # add a map to  dataframe, index doesn't matter

In [6]:
df1

  City  Population   GPD
0   BJ        1000  1000
1   SH        2000  2000
2   GZ        1500  1000

In [8]:
df1 = DataFrame({"City": ["BJ","SH","GZ"], "Population":[1000,2000,1500]},index = ['a','b','c'])  # create dataframe using python dict

In [9]:
df1['GPD'] = Series([1000,2000,1500])  #add a series to  dataframe, defalt index is 012

In [10]:
df1

  City  Population  GPD
a   BJ        1000  NaN
b   SH        2000  NaN
c   GZ        1500  NaN

In [11]:
# replace in series

In [28]:
s1 = Series(['a','b','c'])

In [29]:
s1

0    a
1    b
2    c
dtype: object

In [31]:
s1.replace('a',np.nan)

0    NaN
1      b
2      c
dtype: object

In [15]:
s1.replace({1:np.nan})

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [32]:
s1.replace(['a','b'],[20,30])

0    20
1    30
2     c
dtype: object