In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
# import webbrowser
# link = 'https://pandas.pydata.org/docs/user_guide/io.html'
# webbrowser.open(link)

In [3]:
df1 = pd.read_clipboard()

In [4]:
df1

   Mar 2020   Mar 2019   Change  Programming Language  Ratings   Change
0          1          1      NaN                  Java   17.78%  +2.90%
1          2          2      NaN                     C   16.33%  +3.03%
2          3          3      NaN                Python   10.11%  +1.85%

In [5]:
df1.to_csv('df1.csv')

In [6]:
!ls

Array.ipynb                   SeriesDataframeDeepdive.ipynb
ArrayInputOutput.ipynb        df1.csv
ArrayMatrixOperator.ipynb     one_array.npy
Dataframe.ipynb               two_array.npy
DataframeIO.ipynb             two_array.npz
Series.ipynb                  x.pkl

In [7]:
df2 = pd.read_csv('df1.csv')

In [8]:
df2

,Unnamed: 0,Mar 2020,Mar 2019,Change,Programming Language,Ratings,Change
0,0,1,1,NaN,Java,17.78%,+2.90%
1,1,2,2,NaN,C,16.33%,+3.03%
2,2,3,3,NaN,Python,10.11%,+1.85%

In [9]:
df1.to_json()

'{"Mar 2020 ":{"0":1,"1":2,"2":3},"Mar 2019 ":{"0":1,"1":2,"2":3},"Change ":{"0":null,"1":null,"2":null},"Programming Language ":{"0":"Java","1":"C","2":"Python"},"Ratings ":{"0":"17.78%","1":"16.33%","2":"10.11%"},"Change":{"0":"+2.90%","1":"+3.03%","2":"+1.85%"}}'

In [11]:
pd.read_json(df1.to_json())

   Change  Change   Mar 2019   Mar 2020  Programming Language  Ratings
0  +2.90%      NaN          1          1                  Java   17.78%
1  +3.03%      NaN          2          2                     C   16.33%
2  +1.85%      NaN          3          3                Python   10.11%

In [14]:
df1.to_html('df1.html')

In [15]:
!ls

Array.ipynb                   df1.csv
ArrayInputOutput.ipynb        df1.html
ArrayMatrixOperator.ipynb     one_array.npy
Dataframe.ipynb               two_array.npy
DataframeIO.ipynb             two_array.npz
Series.ipynb                  x.pkl
SeriesDataframeDeepdive.ipynb

In [16]:
df1.to_excel('dfl.xlsx')

In [17]:
!ls

Array.ipynb                   df1.csv
ArrayInputOutput.ipynb        df1.html
ArrayMatrixOperator.ipynb     dfl.xlsx
Dataframe.ipynb               one_array.npy
DataframeIO.ipynb             two_array.npy
Series.ipynb                  two_array.npz
SeriesDataframeDeepdive.ipynb x.pkl