In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series reindex

In [2]:
s1 = Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'] )

In [3]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
s1.reindex(index = ['a', 'b', 'c', 'd', 'e'])

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [7]:
s1.reindex(index = ['a', 'b', 'c', 'd', 'e', 'f'],fill_value = 10)

a     1
b     2
c     3
d     4
e    10
f    10
dtype: int64

In [8]:
s2 = pd.Series(['a', 'b', 'c'],index = [1, 5, 10])

In [9]:
s2

1     a
5     b
10    c
dtype: object

In [11]:
s2.reindex(index = range(15),method = 'ffill') # ffill is forward fill

0     NaN
1       a
2       a
3       a
4       a
5       b
6       b
7       b
8       b
9       b
10      c
11      c
12      c
13      c
14      c
dtype: object

# reindex dataframe

In [28]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index = ['a','b','d','e','f'], columns = ['c1', 'c2','c3','c4','c5'])

In [29]:
df1

         c1        c2        c3        c4        c5
a  0.149358  0.530361  0.760947  0.471425  0.350823
b  0.358985  0.336021  0.175673  0.837692  0.821838
d  0.350140  0.567834  0.204139  0.489514  0.346009
e  0.815578  0.132109  0.437217  0.505802  0.766882
f  0.274857  0.795026  0.400003  0.596132  0.568651

In [31]:
df1.reindex(index = ['a','b','c','d','e','f'])

         c1        c2        c3        c4        c5
a  0.149358  0.530361  0.760947  0.471425  0.350823
b  0.358985  0.336021  0.175673  0.837692  0.821838
c       NaN       NaN       NaN       NaN       NaN
d  0.350140  0.567834  0.204139  0.489514  0.346009
e  0.815578  0.132109  0.437217  0.505802  0.766882
f  0.274857  0.795026  0.400003  0.596132  0.568651

In [32]:
df1.reindex(columns = ['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
a  0.149358  0.530361  0.760947  0.471425  0.350823 NaN
b  0.358985  0.336021  0.175673  0.837692  0.821838 NaN
d  0.350140  0.567834  0.204139  0.489514  0.346009 NaN
e  0.815578  0.132109  0.437217  0.505802  0.766882 NaN
f  0.274857  0.795026  0.400003  0.596132  0.568651 NaN

In [33]:
df1.reindex(index = ['a','b','c','d','e','f'],columns = ['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
a  0.149358  0.530361  0.760947  0.471425  0.350823 NaN
b  0.358985  0.336021  0.175673  0.837692  0.821838 NaN
c       NaN       NaN       NaN       NaN       NaN NaN
d  0.350140  0.567834  0.204139  0.489514  0.346009 NaN
e  0.815578  0.132109  0.437217  0.505802  0.766882 NaN
f  0.274857  0.795026  0.400003  0.596132  0.568651 NaN

In [34]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [35]:
s1.reindex(index = ['a','b'])

a    1
b    2
dtype: int64

In [36]:
df1

         c1        c2        c3        c4        c5
a  0.149358  0.530361  0.760947  0.471425  0.350823
b  0.358985  0.336021  0.175673  0.837692  0.821838
d  0.350140  0.567834  0.204139  0.489514  0.346009
e  0.815578  0.132109  0.437217  0.505802  0.766882
f  0.274857  0.795026  0.400003  0.596132  0.568651

In [37]:
df1.reindex(index = ['a','b'],columns = ['c1','c3'])

         c1        c3
a  0.149358  0.760947
b  0.358985  0.175673

In [38]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [39]:
s1.drop('a')

b    2
c    3
d    4
dtype: int64

In [40]:
df1

         c1        c2        c3        c4        c5
a  0.149358  0.530361  0.760947  0.471425  0.350823
b  0.358985  0.336021  0.175673  0.837692  0.821838
d  0.350140  0.567834  0.204139  0.489514  0.346009
e  0.815578  0.132109  0.437217  0.505802  0.766882
f  0.274857  0.795026  0.400003  0.596132  0.568651

In [41]:
df1.drop('a',axis = 0)

         c1        c2        c3        c4        c5
b  0.358985  0.336021  0.175673  0.837692  0.821838
d  0.350140  0.567834  0.204139  0.489514  0.346009
e  0.815578  0.132109  0.437217  0.505802  0.766882
f  0.274857  0.795026  0.400003  0.596132  0.568651

In [43]:
df1.drop('c1',axis = 1)

         c2        c3        c4        c5
a  0.530361  0.760947  0.471425  0.350823
b  0.336021  0.175673  0.837692  0.821838
d  0.567834  0.204139  0.489514  0.346009
e  0.132109  0.437217  0.505802  0.766882
f  0.795026  0.400003  0.596132  0.568651