In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3, 4])# creat  series using python list [1,2,3,4]

In [3]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
s1.values

array([1, 2, 3, 4])

In [27]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
s1.items

<bound method Series.iteritems of 0    1
1    2
2    3
3    4
dtype: int64>

In [8]:
list(s1.items())

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [13]:
s2 = pd.Series(np.arange(10))#create series using numpy array

In [18]:
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [22]:
s2.values,s2.index,type(s2)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 RangeIndex(start=0, stop=10, step=1),
 pandas.core.series.Series)

In [15]:
s3 = pd.Series({'1':1, '2':2, '3':3}) #create series using dict

In [16]:
s3

1    1
2    2
3    3
dtype: int64

In [24]:
s3.values

array([1, 2, 3])

In [25]:
s3.keys

<bound method Series.keys of 1    1
2    2
3    3
dtype: int64>

In [28]:
s3.items

<bound method Series.iteritems of 1    1
2    2
3    3
dtype: int64>

In [29]:
s3.index

Index(['1', '2', '3'], dtype='object')

In [41]:
s4 = pd.Series([1, 3, 3, 4], index = ['a', 'b', 'c', 'd'])

In [42]:
s4

a    1
b    3
c    3
d    4
dtype: int64

In [43]:
s4.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [44]:
s4.values

array([1, 3, 3, 4])

In [48]:
s4[0]

1

In [46]:
s4[s4>2]

b    3
c    3
d    4
dtype: int64

In [55]:
s4.to_dict()

{'a': 1, 'b': 3, 'c': 3, 'd': 4}

In [56]:
s5 = pd.Series(s4.to_dict())

In [58]:
s5

a    1
b    3
c    3
d    4
dtype: int64

In [67]:
idx = ['a', 'b', 'c', 'd', 'e']

In [68]:
s6 = pd.Series(s5, index = idx)

In [69]:
s6

a    1.0
b    3.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [70]:
pd.isnull(s6)

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [71]:
pd.notnull(s6)

a     True
b     True
c     True
d     True
e    False
dtype: bool

In [73]:
s6.name = 'demo'

In [74]:
s6

a    1.0
b    3.0
c    3.0
d    4.0
e    NaN
Name: demo, dtype: float64

In [78]:
s6.index.name = 'test'

In [79]:
s6

test
a    1.0
b    3.0
c    3.0
d    4.0
e    NaN
Name: demo, dtype: float64

In [80]:
s6.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='test')

In [81]:
s6.values

array([  1.,   3.,   3.,   4.,  nan])