In [1]:
import numpy as np

In [3]:
Normal = np.random.normal(size = 15)
Normal

array([-1.17451084, -0.53148427, -2.19129621, -0.58627505, -2.81861179,
       -0.99118117,  0.05492915,  0.07599173, -0.1974542 , -0.35593162,
       -2.18160967,  0.97413311,  2.60948249,  0.80600712,  0.5331122 ])

In [4]:
Normal = np.random.normal(size = 8)
Normal

array([ 1.78268852, -1.33752942, -1.27579136,  0.68506853,  1.870036  ,
        0.15867176,  0.02973739, -0.18128793])

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
path = '../YCdata/return300.csv'
return300 = pd.read_csv(path)
return300

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>return</th>
      <th>sig</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014/1/2</td>
      <td>-0.3454</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014/1/3</td>
      <td>-1.3436</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014/1/6</td>
      <td>-2.2762</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014/1/7</td>
      <td>-0.0284</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014/1/8</td>
      <td>0.1747</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>240</th>
      <td>2014/12/25</td>
      <td>3.2514</td>
      <td>1</td>
    </tr>
    <tr>
      <th>241</th>
      <td>2014/12/26</td>
      <td>3.3105</td>
      <td>1</td>
    </tr>
    <tr>
      <th>242</th>
      <td>2014/12/29</td>
      <td>0.2791</td>
      <td>1</td>
    </tr>
    <tr>
      <th>243</th>
      <td>2014/12/30</td>
      <td>0.0607</td>
      <td>1</td>
    </tr>
    <tr>
      <th>244</th>
      <td>2014/12/31</td>
      <td>2.2025</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>245 rows × 3 columns</p>
</div>

In [6]:
ret = return300.iloc[:,1]  #假定数据属于正态分布
ret.head()

0   -0.3454
1   -1.3436
2   -2.2762
3   -0.0284
4    0.1747
Name: return, dtype: float64

In [7]:
HS300_retmean = ret.mean()
HS300_retmean

0.17742367346938773

In [8]:
HS300_retvar = ret.var()
HS300_retvar

1.4712059348471052

In [ ]:
stats.norm.pdf(0.05,HS300_retmean,HS300_retvar**0.5)