In [1]:
import numpy as np
import pandas as pd

In [27]:
nasa = pd.read_table('../YCData/nasa.txt')

In [29]:
nasa.shape

(8583, 21)

In [21]:
nasa.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>会员ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>身高</th>
      <th>学历</th>
      <th>婚否</th>
      <th>所在地</th>
      <th>星座</th>
      <th>职业</th>
      <th>...</th>
      <th>愿意/可能前往</th>
      <th>服务收费/支付能力</th>
      <th>伴游经验</th>
      <th>服务内容/需求服务</th>
      <th>伴游心情/其他说明</th>
      <th>最方便联系时间</th>
      <th>联系电话</th>
      <th>Email</th>
      <th>博客</th>
      <th>QQ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>127740</td>
      <td>1小姐</td>
      <td>女</td>
      <td>22</td>
      <td>166</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>山羊座</td>
      <td>编辑</td>
      <td>...</td>
      <td>安徽,浙江,江苏,上海</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>商务伴游,私人伴游,交友伴游,景点伴游</td>
      <td>本人今年22岁，半年前大学毕业，平时在上海工作，放假时回安徽。有意可以联系我哦。另外我是大叔...</td>
      <td>0:00—23:00</td>
      <td>15755106787</td>
      <td>1718560307@qq.com</td>
      <td>http://www.banyou.com/</td>
      <td>1718560307</td>
    </tr>
    <tr>
      <th>1</th>
      <td>88548</td>
      <td>n小姐</td>
      <td>女</td>
      <td>22</td>
      <td>162</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>山羊座</td>
      <td>在校学生</td>
      <td>...</td>
      <td>安徽,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游</td>
      <td>希望游客素质比较好，相互尊重，出言不逊者请勿扰。比较好奇，没试过。通过连接看到的，所以就注册...</td>
      <td>8:00—23:00</td>
      <td>未认证暂不开放或已设置成永久保密</td>
      <td>2574230157@qq.com</td>
      <td>http://www.banyou.com/</td>
      <td>2574230157</td>
    </tr>
    <tr>
      <th>2</th>
      <td>31122</td>
      <td>张小姐</td>
      <td>女</td>
      <td>24</td>
      <td>166</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>双鱼座</td>
      <td>行政</td>
      <td>...</td>
      <td>安徽,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游</td>
      <td>我大学毕业时间不长，有点孤单，希望多认识一些朋友！希望认识全国各地的朋友，希望能带来一些快乐</td>
      <td>8:00—23:00</td>
      <td>15023283174</td>
      <td>271943774@qq.com</td>
      <td>http://www.tripby.net/</td>
      <td>271943774</td>
    </tr>
    <tr>
      <th>3</th>
      <td>51934</td>
      <td>雷小姐</td>
      <td>女</td>
      <td>21</td>
      <td>166</td>
      <td>本科</td>
      <td>未婚</td>
      <td>铜陵</td>
      <td>处女座</td>
      <td>办公室职员</td>
      <td>...</td>
      <td>安徽,铜陵,马鞍山,芜湖,安庆,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>学生伴游,商务伴游,私人伴游,交友伴游,景点伴游</td>
      <td>我是一个年轻、有活力、性格开朗、有正当职业的女性。因经济原因，所以兼职。最好是景点伴游或者商...</td>
      <td>8:00—20:00</td>
      <td>18256271009</td>
      <td>641946814@qq.com</td>
      <td>http://www.tripby.net/</td>
      <td>641946814</td>
    </tr>
    <tr>
      <th>4</th>
      <td>55171</td>
      <td>h小姐</td>
      <td>女</td>
      <td>26</td>
      <td>160</td>
      <td>大专</td>
      <td>未婚</td>
      <td>铜陵</td>
      <td>处女座</td>
      <td>办公室职员</td>
      <td>...</td>
      <td>安徽</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游,交友伴游</td>
      <td>我是刚注册的,我也喜欢旅游,所以希望能交个朋友来开始开心的旅程.</td>
      <td>8:00—22:00</td>
      <td>13655626954</td>
      <td>cherubhe@126.com</td>
      <td>NaN</td>
      <td>1632914093</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 21 columns</p>
</div>

In [22]:
nasa['身高'][0]

'166'

In [23]:
nasa['年龄'][0]

'22'

In [30]:
result = nasa.groupby('年龄')['身高']
result

In [31]:
result.head(5)

0       166
1       162
2       166
3       166
4       160
       ...
4503    160
8378    200
8391    150
8392    153
8396    171
Name: 身高, Length: 133, dtype: object