In [14]:
import numpy as np
import pandas as pd
import tushare as ts

In [19]:
import tushare as ts

df = ts.get_tick_data('600848',date='2018-12-12',src='tt')
df.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>time</th>
      <th>price</th>
      <th>change</th>
      <th>volume</th>
      <th>amount</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>09:30:03</td>
      <td>20.68</td>
      <td>0.03</td>
      <td>24</td>
      <td>49616</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>1</th>
      <td>09:30:05</td>
      <td>20.70</td>
      <td>0.02</td>
      <td>1</td>
      <td>2070</td>
      <td>卖盘</td>
    </tr>
    <tr>
      <th>2</th>
      <td>09:30:15</td>
      <td>20.77</td>
      <td>0.07</td>
      <td>2</td>
      <td>4152</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>3</th>
      <td>09:30:26</td>
      <td>20.78</td>
      <td>0.01</td>
      <td>8</td>
      <td>16617</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>4</th>
      <td>09:30:33</td>
      <td>20.78</td>
      <td>0.00</td>
      <td>9</td>
      <td>18702</td>
      <td>卖盘</td>
    </tr>
    <tr>
      <th>5</th>
      <td>09:30:36</td>
      <td>20.79</td>
      <td>0.01</td>
      <td>9</td>
      <td>18711</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>6</th>
      <td>09:30:42</td>
      <td>20.78</td>
      <td>-0.01</td>
      <td>5</td>
      <td>10388</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>7</th>
      <td>09:30:45</td>
      <td>20.78</td>
      <td>0.00</td>
      <td>3</td>
      <td>6232</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>8</th>
      <td>09:30:50</td>
      <td>20.78</td>
      <td>0.00</td>
      <td>1</td>
      <td>2078</td>
      <td>买盘</td>
    </tr>
    <tr>
      <th>9</th>
      <td>09:30:54</td>
      <td>20.78</td>
      <td>0.00</td>
      <td>3</td>
      <td>6234</td>
      <td>卖盘</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
price = df['price']
price

0       20.68
1       20.70
2       20.77
3       20.78
4       20.78
        ...
1840    20.79
1841    20.79
1842    20.79
1843    20.80
1844    20.80
Name: price, Length: 1845, dtype: float64

In [23]:
#price[0:5]
#price.loc[0:5]
price.iloc[0:5] # 索引是数字，全部生效

0    20.68
1    20.70
2    20.77
3    20.78
4    20.78
5    20.79
Name: price, dtype: float64

In [24]:
priceTimes = df['price'].value_counts()
priceTimes

20.65    122
20.82    121
20.80    111
20.68    101
20.81     97
20.66     95
20.79     86
20.83     78
20.64     67
20.72     66
20.63     66
20.70     65
20.67     62
20.78     57
20.73     54
20.69     53
20.71     46
20.74     43
20.88     40
20.85     38
20.90     36
20.92     34
20.61     30
20.86     27
20.75     26
20.91     25
20.84     22
20.87     20
20.62     20
20.60     18
20.77     17
20.89     16
20.76     15
20.58     12
20.94     12
20.93     11
20.59     11
20.57      8
20.55      7
20.56      6
20.54      1
20.52      1
20.51      1
20.53      1
Name: price, dtype: int64

In [27]:
priceTimes[20.77]  # 根据自定义键值索引

17

In [28]:
priceTimes.loc[20.77]  # 根据自定义键值索引

17

In [29]:
priceTimes.iloc[0】 #根据默认的数字索引

122

In [36]:
#priceTimes[0:5]  报错
#priceTimes[[20.51,20.53]]  正确，键值索引
#priceTimes.loc[[20.51,20.53]]   正确，键值索引
priceTimes.iloc[0:5] #正确，默认数字索引

20.65    122
20.82    121
20.80    111
20.68    101
20.81     97
Name: price, dtype: int64