In [1]:
import numpy as np
import pandas as pd

In [2]:
nasa = pd.read_table(r'../YCdata/nasa.txt')
nasa.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>会员ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>身高</th>
      <th>学历</th>
      <th>婚否</th>
      <th>所在地</th>
      <th>星座</th>
      <th>职业</th>
      <th>...</th>
      <th>愿意/可能前往</th>
      <th>服务收费/支付能力</th>
      <th>伴游经验</th>
      <th>服务内容/需求服务</th>
      <th>伴游心情/其他说明</th>
      <th>最方便联系时间</th>
      <th>联系电话</th>
      <th>Email</th>
      <th>博客</th>
      <th>QQ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>127740</td>
      <td>1小姐</td>
      <td>女</td>
      <td>22</td>
      <td>166</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>山羊座</td>
      <td>编辑</td>
      <td>...</td>
      <td>安徽,浙江,江苏,上海</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>商务伴游,私人伴游,交友伴游,景点伴游</td>
      <td>本人今年22岁，半年前大学毕业，平时在上海工作，放假时回安徽。有意可以联系我哦。另外我是大叔...</td>
      <td>0:00—23:00</td>
      <td>15755106787</td>
      <td>1718560307@qq.com</td>
      <td>http://www.banyou.com/</td>
      <td>1718560307</td>
    </tr>
    <tr>
      <th>1</th>
      <td>88548</td>
      <td>n小姐</td>
      <td>女</td>
      <td>22</td>
      <td>162</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>山羊座</td>
      <td>在校学生</td>
      <td>...</td>
      <td>安徽,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游</td>
      <td>希望游客素质比较好，相互尊重，出言不逊者请勿扰。比较好奇，没试过。通过连接看到的，所以就注册...</td>
      <td>8:00—23:00</td>
      <td>未认证暂不开放或已设置成永久保密</td>
      <td>2574230157@qq.com</td>
      <td>http://www.banyou.com/</td>
      <td>2574230157</td>
    </tr>
    <tr>
      <th>2</th>
      <td>31122</td>
      <td>张小姐</td>
      <td>女</td>
      <td>24</td>
      <td>166</td>
      <td>本科</td>
      <td>未婚</td>
      <td>合肥</td>
      <td>双鱼座</td>
      <td>行政</td>
      <td>...</td>
      <td>安徽,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游</td>
      <td>我大学毕业时间不长，有点孤单，希望多认识一些朋友！希望认识全国各地的朋友，希望能带来一些快乐</td>
      <td>8:00—23:00</td>
      <td>15023283174</td>
      <td>271943774@qq.com</td>
      <td>http://www.tripby.net/</td>
      <td>271943774</td>
    </tr>
    <tr>
      <th>3</th>
      <td>51934</td>
      <td>雷小姐</td>
      <td>女</td>
      <td>21</td>
      <td>166</td>
      <td>本科</td>
      <td>未婚</td>
      <td>铜陵</td>
      <td>处女座</td>
      <td>办公室职员</td>
      <td>...</td>
      <td>安徽,铜陵,马鞍山,芜湖,安庆,合肥</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>学生伴游,商务伴游,私人伴游,交友伴游,景点伴游</td>
      <td>我是一个年轻、有活力、性格开朗、有正当职业的女性。因经济原因，所以兼职。最好是景点伴游或者商...</td>
      <td>8:00—20:00</td>
      <td>18256271009</td>
      <td>641946814@qq.com</td>
      <td>http://www.tripby.net/</td>
      <td>641946814</td>
    </tr>
    <tr>
      <th>4</th>
      <td>55171</td>
      <td>h小姐</td>
      <td>女</td>
      <td>26</td>
      <td>160</td>
      <td>大专</td>
      <td>未婚</td>
      <td>铜陵</td>
      <td>处女座</td>
      <td>办公室职员</td>
      <td>...</td>
      <td>安徽</td>
      <td>面议元/天</td>
      <td>初次接触</td>
      <td>私人伴游,交友伴游</td>
      <td>我是刚注册的,我也喜欢旅游,所以希望能交个朋友来开始开心的旅程.</td>
      <td>8:00—22:00</td>
      <td>13655626954</td>
      <td>cherubhe@126.com</td>
      <td>NaN</td>
      <td>1632914093</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 21 columns</p>
</div>

In [4]:
nasa['年龄'][0]

'22'

In [6]:
nasa['年龄'].value_counts()

21    1359
22    1320
20    1119
23    1012
24     809
19     677
25     508
26     335
27     245
18     206
28     151
29     133
32     119
30     111
31     111
33     102
34      84
年龄      30
39      30
35      28
38      25
37      21
36      21
40      14
58       3
55       2
52       2
42       2
46       1
47       1
43       1
62       1
Name: 年龄, dtype: int64

In [8]:
def str2int(intstr):
    try:
        return int(intstr)
    except:
        return np.nan

In [10]:
nasa['年龄'] = nasa['年龄'].map(str2int)
nasa['年龄'].isnull().sum()

30

In [11]:
nasa[nasa['年龄'].isnull()].index

Int64Index([  60, 1938, 2078, 2090, 3020, 3071, 3097, 3210, 3357, 3434, 3510,
            4219, 4326, 4351, 4358, 4530, 5012, 6626, 6818, 6876, 7227, 7239,
            7280, 7536, 7581, 8058, 8130, 8218, 8376, 8401],
           dtype='int64')

In [12]:
nasaAge = nasa.drop(nasa[nasa['年龄'].isnull()].index)

In [13]:
nasa.shape

(8583, 21)

In [14]:
nasaAge.shape

(8553, 21)

In [15]:
result = nasaAge.groupby('学历')['年龄']
result

In [17]:
result.head(5)

0       22.0
1       22.0
2       24.0
3       21.0
4       26.0
5       23.0
7       21.0
9       23.0
10      22.0
11      22.0
12      21.0
13      22.0
19      29.0
21      22.0
24      24.0
25      22.0
28      20.0
30      29.0
31      18.0
39      22.0
65      20.0
177     25.0
207     27.0
256     21.0
265     25.0
306     19.0
546     34.0
1605    21.0
2065    21.0
2079    24.0
2142    29.0
2509    34.0
2797    27.0
5929    23.0
Name: 年龄, dtype: float64

In [24]:
def age_mean(group): #求学历的平均值
    if group.size <10: # 样本控制，有10个取平均值
        return np.nan
    return group.mean()

In [25]:
lastResult = result.apply(age_mean)
lastResult.head(20)

学历
{xueli}                    NaN
中专                   22.696361
博士                   30.535714
大&#65533;                 NaN
大专                   23.068493
本&#65533;&#65533;          NaN
本科                   23.102022
硕士                   26.372093
高中                   23.352528
Name: 年龄, dtype: float64

In [28]:
%matplotlib inline

In [ ]:
lastResult[:].plot()