In [1]:
import numpy as np
import pandas as pd
import tushare as ts

In [3]:
todayAll = ts.get_today_all()

[Getting data:]

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

In [5]:
todayAll

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>code</th>
      <th>name</th>
      <th>changepercent</th>
      <th>trade</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>settlement</th>
      <th>volume</th>
      <th>turnoverratio</th>
      <th>amount</th>
      <th>per</th>
      <th>pb</th>
      <th>mktcap</th>
      <th>nmc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>688399</td>
      <td>硕世生物</td>
      <td>-3.056</td>
      <td>92.00</td>
      <td>95.95</td>
      <td>95.95</td>
      <td>88.88</td>
      <td>94.90</td>
      <td>2404701.0</td>
      <td>18.02831</td>
      <td>220811322.0</td>
      <td>63.448</td>
      <td>10.817</td>
      <td>5.393040e+05</td>
      <td>122713.924000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>688398</td>
      <td>赛特新材</td>
      <td>0.264</td>
      <td>45.50</td>
      <td>45.88</td>
      <td>46.55</td>
      <td>45.50</td>
      <td>45.38</td>
      <td>630312.0</td>
      <td>3.46304</td>
      <td>28965135.0</td>
      <td>36.694</td>
      <td>8.332</td>
      <td>3.640000e+05</td>
      <td>82815.187000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>688396</td>
      <td>华润微</td>
      <td>2.068</td>
      <td>34.05</td>
      <td>33.91</td>
      <td>35.33</td>
      <td>33.91</td>
      <td>33.36</td>
      <td>15961778.0</td>
      <td>5.67861</td>
      <td>550635419.0</td>
      <td>69.689</td>
      <td>52.096</td>
      <td>4.140225e+06</td>
      <td>957097.789140</td>
    </tr>
    <tr>
      <th>3</th>
      <td>688389</td>
      <td>普门科技</td>
      <td>-0.995</td>
      <td>20.89</td>
      <td>21.08</td>
      <td>21.08</td>
      <td>20.53</td>
      <td>21.10</td>
      <td>2127949.0</td>
      <td>6.12328</td>
      <td>44095797.0</td>
      <td>80.346</td>
      <td>8.402</td>
      <td>8.819758e+05</td>
      <td>72596.520645</td>
    </tr>
    <tr>
      <th>4</th>
      <td>688388</td>
      <td>嘉元科技</td>
      <td>4.484</td>
      <td>56.85</td>
      <td>55.40</td>
      <td>58.63</td>
      <td>55.40</td>
      <td>54.41</td>
      <td>3936913.0</td>
      <td>7.07100</td>
      <td>224886826.0</td>
      <td>34.042</td>
      <td>5.201</td>
      <td>1.312530e+06</td>
      <td>316522.937730</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>3895</th>
      <td>600242</td>
      <td>中昌数据</td>
      <td>-1.355</td>
      <td>7.28</td>
      <td>7.33</td>
      <td>7.48</td>
      <td>7.25</td>
      <td>7.38</td>
      <td>16007198.0</td>
      <td>3.87921</td>
      <td>117663317.0</td>
      <td>26.963</td>
      <td>1.560</td>
      <td>3.324522e+05</td>
      <td>300402.428872</td>
    </tr>
    <tr>
      <th>3896</th>
      <td>600238</td>
      <td>ST椰岛</td>
      <td>-0.426</td>
      <td>4.68</td>
      <td>4.71</td>
      <td>4.71</td>
      <td>4.65</td>
      <td>4.70</td>
      <td>856700.0</td>
      <td>0.19252</td>
      <td>4000355.0</td>
      <td>52.000</td>
      <td>3.139</td>
      <td>2.097576e+05</td>
      <td>208260.739440</td>
    </tr>
    <tr>
      <th>3897</th>
      <td>600234</td>
      <td>ST山水</td>
      <td>-3.119</td>
      <td>9.94</td>
      <td>10.26</td>
      <td>10.31</td>
      <td>9.91</td>
      <td>10.26</td>
      <td>542370.0</td>
      <td>0.26791</td>
      <td>5457940.0</td>
      <td>124.250</td>
      <td>27.383</td>
      <td>2.012312e+05</td>
      <td>201231.204720</td>
    </tr>
    <tr>
      <th>3898</th>
      <td>600228</td>
      <td>ST昌九</td>
      <td>-2.862</td>
      <td>11.20</td>
      <td>11.38</td>
      <td>11.88</td>
      <td>11.20</td>
      <td>11.53</td>
      <td>6109076.0</td>
      <td>2.53152</td>
      <td>70344379.0</td>
      <td>-476.596</td>
      <td>48.972</td>
      <td>2.702784e+05</td>
      <td>270278.400000</td>
    </tr>
    <tr>
      <th>3899</th>
      <td>600217</td>
      <td>中再资环</td>
      <td>-0.196</td>
      <td>5.08</td>
      <td>5.10</td>
      <td>5.12</td>
      <td>5.03</td>
      <td>5.09</td>
      <td>7380955.0</td>
      <td>0.55963</td>
      <td>37531641.0</td>
      <td>22.310</td>
      <td>4.081</td>
      <td>7.054392e+05</td>
      <td>670006.674208</td>
    </tr>
  </tbody>
</table>
<p>3900 rows × 15 columns</p>
</div>

In [6]:
todayAll.size

58500

In [9]:
todayAll.columns

Index(['code', 'name', 'changepercent', 'trade', 'open', 'high', 'low',
       'settlement', 'volume', 'turnoverratio', 'amount', 'per', 'pb',
       'mktcap', 'nmc'],
      dtype='object')

In [10]:
todayAll.index

RangeIndex(start=0, stop=3900, step=1)

In [11]:
todayAll.shape

(3900, 15)

In [12]:
todayAll[['name','code']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>硕世生物</td>
      <td>688399</td>
    </tr>
    <tr>
      <th>1</th>
      <td>赛特新材</td>
      <td>688398</td>
    </tr>
    <tr>
      <th>2</th>
      <td>华润微</td>
      <td>688396</td>
    </tr>
    <tr>
      <th>3</th>
      <td>普门科技</td>
      <td>688389</td>
    </tr>
    <tr>
      <th>4</th>
      <td>嘉元科技</td>
      <td>688388</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>3895</th>
      <td>中昌数据</td>
      <td>600242</td>
    </tr>
    <tr>
      <th>3896</th>
      <td>ST椰岛</td>
      <td>600238</td>
    </tr>
    <tr>
      <th>3897</th>
      <td>ST山水</td>
      <td>600234</td>
    </tr>
    <tr>
      <th>3898</th>
      <td>ST昌九</td>
      <td>600228</td>
    </tr>
    <tr>
      <th>3899</th>
      <td>中再资环</td>
      <td>600217</td>
    </tr>
  </tbody>
</table>
<p>3900 rows × 2 columns</p>
</div>